.daily-note-navbar {
	display: flex;
	align-items: center;
	gap: 2px;
}

.daily-note-navbar button {
	padding: 0;
	background: transparent;
	border: 0;
	box-shadow: none;
	padding-inline: 4px;
	padding-block: 0;
}
.daily-note-navbar button:hover {
	background: var(--interactive-hover);
}
.daily-note-navbar button:disabled {
	background: transparent;
}

.daily-note-navbar__date {
	min-width: 65px;
}

.daily-note-navbar__change-week {
	aspect-ratio: 1 / 1;
}
.daily-note-navbar__change-week svg {
	height: 16px;
	aspect-ratio: 1 / 1;
    stroke-width: var(--icon-stroke);
}

.daily-note-navbar__current {
	color: var(--color-accent-1);
}

.daily-note-navbar__not-exists {
	color: var(--color-base-50);
}
.daily-note-navbar__not-exists:hover {
	color: inherit;
}

.daily-note-navbar__hidden {
	display: none;
}

